/*comman tyle*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
p{
  text-align: justify;
}
:target{
  padding-top: 3%;
}
section:target{
  padding-top: 6%;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

h2{
    font-size:2rem;
    font-weight:700;
    margin-bottom: 1rem;
}
section{
    padding-top: 3rem;

}
footer{
    margin-top: 3rem;
    padding: 3rem;
    background-color: #000;
    color: #fff;
}
footer p{
 margin-top: 1rem;
}
section img{
    width: 100%;
}


 
.fa-hight{
  position:absolute;
font-size: 30px;
  bottom: 0;
  margin-bottom: .5rem;
  left: 70%;
  z-index: 1000;
  border: 1px solid black;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;

  }
  
.owl-theme .owl-nav {

}

/*navbar*/
.navbar{
 
    position: fixed;
    top: 0;
    padding: 0;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
}

    .navbar .navbar-nav .nav-item .nav-link{
       color: gray;
      }
      .navbar .navbar-nav .nav-item .active{
       color: black;
      }
.navbar .navbar-toggler:focus{
    color: transparent
    }

.navbar-brand{
 
    margin-right: .5rem;
  
}
.navbar-brand h6{
    font-weight: bold;
    text-align: center;
}
.navbar-brand span{
font-size: 3rem;
margin: 0;padding: 0;
text-align: center;
font-weight: bold;
}


/*carousel*/
video{
    width: 100%;
object-fit: cover;
object-position:top ;
    height: 580px;
}
.carousel-inner{
  width: 100%;
  margin-top: 4rem;
  height: 580px;

 
}
.fontIcon{
    height: 40px;
    width: 40px;
    background-color:black;
    top: 45%;
    margin: 1rem;
    padding: 5px;
    border-radius: 15px;
    }
   .carousel .carousel-indicators button {
     width:12px;
     height: 12px;
     border-radius: 50%;
     color: #fff;
      }
    /*form tyle*/
   
    .modal-dialog {
      max-width: 700px;
    }
    .know{
      margin-left: 85%;
  
    }
    .label{
      width: 100%;
 

    }
.txt , .label{
    border: 0;
    border-bottom: 1px solid black; 
    border-radius: 0;
    padding: 5px 2px;
    color: black;
    font-size:15px;
      }
  
    
      .txt::placeholder{
        color: rgb(56, 56, 56);
        font-size: 15px;
        font-weight: 500;
      }
      .txt-select{
        border: 0;
        border-bottom: 1px solid black; 
        border-radius: 0;
        padding: 10px 2px;
        color: black;
        color: rgb(56, 56, 56);
        font-size: 15px;
        font-weight: 500;
      }
     .form-control:focus {
        border-color: #FF0000;
        box-shadow: none;
      }
      .form-select:focus {
        border-color: #FF0000;
        box-shadow: none;
      }
      .btn:focus {
       
        box-shadow: none;
      }
      .btn{
        font-weight: 500;
        padding:.5rem;
        width: 180px;
      }
    .btn-dlack{
        background-color: black;
        text-align: center;
        color:white;
        font-size:20px;
        border-radius: 0;
        margin-top: 1.5rem;
        box-shadow: 2px 2px  5px rgb(104, 104, 104);

    }
    .btn-dlack:hover{
        color: white;
        box-shadow:none;
    }
  
    /*footer*/
   .social{
    display: flex;
    flex-wrap: wrap;

   }
   .social1{
      width: 30px;
      height: 30px;
      margin-right: .5rem;
   }
   .social1 i{
       background-color: rgba(128, 128, 128, 0.801);
       font-size:15px;
       display: flex;
       text-align: center;
       align-items: center;
       border-radius: 50%;
       text-align: center;
       color:white;
       padding: .5rem;
     
    }
    .navbar-toggler{
        margin-left:3rem;
        border: 0;
        outline: 0;
    }


    .title{
      font-weight:600;
      margin-top:20px;
      font-size:24px
    }
    
    .customBtn{
      border-radius:0px;
      padding:10px;
    }
    .form2{
      width: 100%;
    }
    .form2 input{
      display:inline-block;
      width:50px;
      height:50px;
      text-align:center;
    }
    


#myBtn{
    font-size: 2.5rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.911);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*-------------------up-arrow -----------------------*/

#myBtn1 {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 20px;
    z-index: 99999999;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  #myBtn1 i{
    font-size: 20px;
    padding: .3rem;
    padding-top: .4rem;
  }
  .register1 {
    background-color: rgba(85, 85, 85, 0.075);
 
  }
  .register1 .form-control ,   .register1 .form-select{
    background-color: transparent;
  }
  
  #myBtn1:hover {
    background-color: rgb(85, 85, 85);
  }
  #price{
    overflow: hidden;
  }
/*----------------------map--------------------------*/

#main-img {
    display: block;
    margin: 20px auto;  
    border: 1px solid rgba(255,255,255,0.2);
    filter: grayscale(0);
  }
  
  #zoom-img {
    pointer-events: none;
    position: relative;
    top: 50%;
    left: 50%;
  }
  
  #zoom {
    position: absolute;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0 2px rgba(255,0,0,0.5),
      5px 5px 10px 5px rgba(0,0,0,0.2);
    border-radius: 50%;  
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  
/*------------------------Amenities-----------------------*/
.Amenities img{

width: 60px;
height: 60px;

}
.Amenities br{
    display: none;
}
.Amenities{
    margin-left: .5rem;
    
}
.Amenities-card{
    border-left: 1px solid rgba(0, 0, 0, 0.801);
}
.Amenities-card h6{
    font-weight:800;
    margin-top: 1rem;

}


.Amenities-card ul li{

 margin-left: -1rem;

}
/*=============================Unit-Plans=====================*/
.Unit{
    background-color: #e5e5e1;
}


.Unit-Plans-img{
    position: relative;
 display: flex;
margin-left: 3rem;
    z-index: 999;
    cursor: pointer;
    text-align: center;
   
}

.Unit-Plans-img img{
    width: 100%;
    cursor: pointer;
  
      
  }

.Unit-Plans1{
    display: block;
  margin:auto;
  position: relative;
}

.Unit-Plans-img2{
    position: relative;
    display: flex;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    margin-right: 1rem;
    
   
   
}


    a{
        text-decoration: none;
    }
    /*========================modal-content =============*/
   .modal-content{
    background-color: rgb(253, 253, 253);
    }
    .modal-header{
       margin: auto;
        width: 80%;  
        padding: 0; 
    } 
    .modal-header h5{
        font-size: 2rem;
    }
   /*------------------------------Specifications-containt---------------*/
.bg-color1 img{
    background-color: #ccd4bf;
}

.Specifications-containt{
    padding-right: 4rem;
    
}

.Specifications-containt h6{
    position: relative;
    font-weight: bold;
    padding: .7rem 0;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.801);
    border-bottom:1px solid rgba(0, 0, 0, 0.801);
}
.Specifications-containt img{
position:absolute;
width: 60px;
height:60px;
bottom: 0;
margin-bottom: .5rem;
left: 70%;
}
.fa-hight{
  position:absolute;
font-size: 30px;
  bottom: 0;
  margin-bottom: .5rem;
  left: 70%;
  z-index: 1000;
  border: 1px solid black;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;

  }
.Specifications-containt ul li{

    margin-left: -1rem;

   }

   small{
    font-size: 13px;
    color: rgb(175, 175, 175);
   }
.fa-location-dot ,.fa-envelope {
    font-size: 23px;

}




/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}
/*===================================*/

.accordion-button::after {
    background-image: none;
    content: "+";
    font-size: 25px;
  color: #fff;
  -webkit-text-stroke: 1px #000000;
  }
  
  
  
  .accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "-";
    transform:none;
    font-size: 25px;
  }
  .accordion-button {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0;
  
  }
  .accordion-item{
    margin: 1rem 0;  
    box-shadow: 2px 2px 3px rgba(119, 119, 119, 0.815);
  
  
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius:0;
    border-top-right-radius:0;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-button:not(.collapsed) {
    color: #000;
    background-color:#fff;
   
  }
  .accordion-button:focus {
     border-color: #FFF;
     border: 1px solid rgb(226, 226, 226);
    outline: 0;
    box-shadow: none;
  }
   /*====================thankyou======================*/
   .thankyou{
    top: 35%;
   }
   .thankyou h2{
    line-height: 50px;
   }

   .thankyou h2{
    line-height:40px;
    margin-top: 1rem;
   }

   /*==========================menu===================*/

   
   .button {
    display: flex;
    flex-direction: column;
    align-items: center;
     text-align: center;
       float: right;
       width: 40px;
       height: 40px;
       cursor: pointer;
       color: #fff;
       position: fixed;
       top: 50%;
       right: 0;
       z-index: 9;
       overflow: hidden;
       transition: all 0.5s ease-in-out;
   animation-name:  pulse;
  animation-duration: 01s;
  animation-iteration-count: 10000;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
   .button span {
       font-size: 18px;
       font-weight: 500;
       color: #fff; 
       line-height: 40px;
    
   }
   
   .button:hover {
       width: 230px;
       -webkit-animation-play-state:paused;
       -moz-animation-play-state:paused;
       -o-animation-play-state:paused;
       animation-play-state:paused;
       cursor: pointer;
 
   }

   
   .button:hover .icon {
     
       display: none;
      
       
   }
   

   
 

  
   .button .icon i {
       font-size: 16px; 
       padding: 5px;
       margin-top: 20%;
       border: 2px solid #fff;  
       color: #fff;
       border-radius: 50%;
      
   }
   
   .button:hover i {
       color: #fff;
       animation-play-state:paused;
       cursor: pointer;
       

   }
  
   .img-r1 img{
    width: 800px;
    height: 380px;
    max-height:380px;
   }
   
   /*==================tabal row---------------------------*/
   .table-price{
    background-color: #e5e6e1;
	text-align:center;
   }


   .owl-carousel .item{
    height: 200px;
}
#living {
    text-align: justify;
}

.v2 {
    object-position: bottom;
}

.blink {
    border-bottom: 1px solid red;
}

.btn-success{
 background-color:#33AE74;
 border: 0;
}
.btn-success:hover{
	 background-color:#33AE74;
}
.btn-warning{
	 background: #FF9000;
	 color:#fff;
	  border: 0;
}
.btn-warning:hover{
		 background: #FF9000;
		 color:#fff;
}
.btn-warning:focus{
		 background: #FF9000;
		 color:#fff;
}
.btn-primary{
background-color: #1A7BFF;
	 color:#fff;
	  border: 0;
}
.btn-primary:hover{
		background-color: #1A7BFF;
		 color:#fff;
}
.btn-primary:focus{
	background-color: #1A7BFF;
		 color:#fff;
}



.fff{
    position: absolute;
    font-size: 30px;
    bottom: 0;
    margin-bottom: 0.5rem;
    left: 70%;
    z-index: 1000;
    border: 1px solid black;
    padding: 1.2rem 1rem;
    background-color: #fff;
    border-radius: 50%;
}
.fafa{
 padding: 1rem .9rem;
}
.banner-img{
	width:100%;
	margin-top:-5.5rem;
	}
 /*-------------media quary---------------------------*/


    @media all and (max-width: 768px) {
		.banner-img{
	margin-top:0rem;
	}
        *{
           
            font-size: 12px;
            
            
        
        }
        .owl-carousel .item{
          height: 250px;
      }
        .img-r1 img{
            width: 100%;
            height:100%
           
           }
        h2{
            font-size:1.4rem;
            font-weight:700;
          
        }
        .search{
            display: none;
        }
        section{
            padding-top: 3rem;
        
        }
        .imges-full img{
            width: 100%;
            height: auto;
         }
        .search-1{
            display: none;
        }
        .fontIcon{
            height: 25px;
            width: 25px;
           top: 45%
        
            }
            .Amenities-card{
                border-left: none;
            }
         
           .carousel .carousel-indicators button {
             width:7px;
             height: 7px;
             border-radius: 50%;
              }
              .Specifications{
                text-align: center;
              }
              .Specifications-containt{
                width: 90%;
                margin: auto;
              }
              .Specifications-containt ul {
              margin-bottom: 3rem;
               }
            
        .navbar .navbar-nav{
            margin-top: 1rem;
        }
        .navbar .navbar-nav .nav-item .nav-link{
            margin-top: 0rem;
         border-bottom: 1px solid rgba(0, 0, 0, 0.151);
        }
        .navbar-brand img{
            float: left;
            width: 15%;
              }
             
           

        .search{
            margin-top: 0rem;
        }
        .logo{
            width: 70%;
        }
        .Specifications-containt{
           padding: 0  2rem;
        }
        .Amenities-card{
            margin-bottom: 2rem;
            margin: 1rem;
        }
		.m1 {
			margin-top:30%;
		}
   
        .Unit-Plans1{
            margin-bottom:20%;
        }
       video{
    width: 100%;

    height: auto;
}
.carousel-inner{
  width: 100%;
  margin-top: 3rem;
  height: auto;

 
}
  .btn{
        
        width: 150px;
      }
	  :target{
  padding-top: 3%;
}
section:target{
  padding-top: 12%;
}
      }

      
      @media all and (max-width: 979px) {
		  	.banner-img{
	margin-top:0rem;
	}
        .search{
            display: none;
                    }
                    .search-1{
                        display: none;
                    }
                    .navbar .navbar-nav{
                        margin-top: 1rem;
                    }
                    .navbar-brand img{
                        max-width:20%;
                       
                       
                          }
                        
						  
                        video{
    width: 100%;

    height: auto;
}
.carousel-inner{
  width: 100%;
  margin-top: 3rem;
  height: auto;

 
}       
        .logo{
            width: 70%;
            float: left;
        }
        .search{
            margin-top: 0rem;
        }
        
        
         
            .carousel-inner{
                width: 100%;
                height:auto;
               
              }
            
      }
      @media all and (max-width: 1000px) {
        .navbar-brand img{
            max-width:11%;
           
           
              }
              .img-r1 img{
                width: 100%;
                height: 100%;
               
               }
			          video{
    width: 100%;
 margin-top: 1.7rem;
    height: auto;
}
.carousel-inner{
  width: 100%;
  margin-top: 3rem;
  height: auto;

 
}
            
      }